<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>Zoo</title>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <nav class="header__nav">
                    <a href="/Zoo/" class="header__link header__link_active">Zoo</a>
                    <a href="/Zoo/workers/" class="header__link ">Workers</a>
                    <a href="/Zoo/animals/" class="header__link ">Animals</a>
                    <a href="/Zoo/cages/" class="header__link ">Cages</a>
                    <a href="/Zoo/food/" class="header__link ">Food</a>
                </nav>
            </header>

            <main class="main">
                <section class="content_main">
                    <header class="content__header">
                        <span class="content__header-text">Zoo</span>
                    </header>
                </section>
            </main>
        </div>
    </body>
</html>
