<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>Workers</title>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <nav class="header__nav">
                    <a href="/Zoo/" class="header__link ">Zoo</a>
                    <a href="/Zoo/workers/" class="header__link header__link_active">Workers</a>
                    <a href="/Zoo/animals/" class="header__link ">Animals</a>
                    <a href="/Zoo/cages/" class="header__link ">Cages</a>
                    <a href="/Zoo/food/" class="header__link ">Food</a>
                </nav>
            </header>

            <main class="main">
                <aside class="sidebar">
                    <header class="sidebar__header">Workers:</header>

                    <section class="sidebar__content">
                        <div class="sidebar__menu">
                            <a href="#" class="sidebar__menu-item">Worker 1</a>
                            <a href="#" class="sidebar__menu-item">Worker 2</a>
                            <a href="#" class="sidebar__menu-item">Worker 3</a>
                        </div>
                    </section>

                    <footer class="sidebar__footer">
                        <button class="sidebar__submit-button">Hire new worker</button>
                    </footer>
                </aside>

                <section class="content">
                    <div class="section">
                        <p>Cage 1</p>
                    </div>
                    <div class="section">
                        <p>Cage 2</p>
                    </div>
                    <div class="section">
                        <p>Cage 3</p>
                    </div>
                    <div class="section">
                        <p>Cage 4</p>
                    </div>
                    <div class="section">
                        <p>Cage 5</p>
                    </div>
                    <div class="section">
                        <p>Cage 6</p>
                    </div>
                </section>
            </main>
            <footer class="footer">
                <nav class="footer__nav">
                    <a href="#" class="footer__link">Link 1</a>
                    <a href="#" class="footer__link">Link 2</a>
                    <a href="#" class="footer__link">Link 3</a>
                    <a href="#" class="footer__link">Link 4</a>
                </nav>
            </footer>
        </div>
    </body>
</html>
